
body{
  width: 1366px;
  height: 768px;
}

.navbar-default{
width: 100%;
box-shadow: 0 5px 10px #efefef;
}

ul{
  list-style-type:none;
}

h1{
  text-align: center;
}

footer{
  background-color: black;
  padding: 25px;
}
